@model List<TicketModel>
<div class="row mb-1">
    <div class="col-12">
        <a asp-controller="Ticket" asp-action="List" asp-area="Admin" class="btn btn-primary">همه تیکت های من</a>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            تیکت های من
        </h3>
    </div><!-- /.card-header -->
    <div class="card-body">
        <table class="table table-hover table-border">
            <thead>
                <tr>
                    <th>شناسه</th>
                    <th>عنوان</th>
                    <th>بخش</th>
                    <th>ایجاد</th>
                    <th>آخرین ویرایش</th>
                    <th>مدیریت</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Any() ?? false)
                {

                    foreach (var ticket in Model)
                    {
                        <tr>
                            <td>@(ticket.Id)</td>
                            <td>@(ticket.Title)</td>
                            <td><a asp-controller="Ticket" asp-action="SectionTickets" asp-area="Admin" asp-route-secId="@(ticket.SectionId)">@(ticket.SectionTitle)</a></td>
                            <td>@(ticket.PersianCreateDateTime)</td>
                            <td>@(ticket.PersianModifyDateTime)</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-controller="Ticket" asp-action="UpdateTicket" asp-area="Admin" asp-route-id="@(ticket.Id)" class="btn btn-info">ویرایش</a>
                                    <a asp-controller="Ticket" asp-action="DeleteTicket" asp-area="Admin" asp-route-id="@(ticket.Id)" class="btn btn-danger">حذف</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No Data</td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.card-body -->
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

